@model AppExercicio.Models.Usuario;

@{
    ViewData["Title"] = "Usuário";
}

<style>
    .field-validation-error {
        color: #FFABA3;
    }
</style>

<h1 class="mb-4">Cadastro de Usuário</h1>

@using (Html.BeginForm("Index", "Usuario", FormMethod.Post, new { @style="width: 30rem;" })) {
    <div class="d-flex justify-content-between">
        <div style="width: 14rem;">
            <div class="form-group">
                @Html.LabelFor(m => m.Id)
                @Html.EditorFor(m => m.Id, new { htmlAttributes = new { @class="form-control" }})
                @Html.ValidationMessageFor(m => m.Id)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Nome)
                @Html.EditorFor(m => m.Nome, new { htmlAttributes = new { @class="form-control" }})
                @Html.ValidationMessageFor(m => m.Nome)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Observacao)
                @Html.EditorFor(m => m.Observacao, new { htmlAttributes = new { @class="form-control" }})
                @Html.ValidationMessageFor(m => m.Observacao)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DataDeNascimento)
                @Html.EditorFor(m => m.DataDeNascimento, new { htmlAttributes = new { @class="form-control" }})
                @Html.ValidationMessageFor(m => m.DataDeNascimento)
            </div>
        </div>
        <div style="width: 14rem;">
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class="form-control" }})
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Login)
                @Html.EditorFor(m => m.Login, new { htmlAttributes = new { @class="form-control" }})
                @Html.ValidationMessageFor(m => m.Login)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Senha)
                @Html.PasswordFor(m => m.Senha, new { @class="form-control" })
                @Html.ValidationMessageFor(m => m.Senha)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmaSenha)
                @Html.PasswordFor(m => m.ConfirmaSenha, new { @class="form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmaSenha)
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between" style="max-width: 40rem;">
        <button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-secondary">Cancelar</button>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
}
