@model AppExercicio.Models.Funcionario;

@{
    ViewData["Title"] = "Funcionário";
}

<style>
    .field-validation-error {
        color: red;
        opacity: 80%;
    }
</style>

<h1 class="mb-4">Cadastro de Funcionário</h1>

@using (Html.BeginForm("Index", "Funcionario", FormMethod.Post, new { @style = "width: 20rem;" }))
{
    <div class="form-group">
    @Html.LabelFor(m => m.Id)
    @Html.EditorFor(m => m.Id, new { htmlAttributes = new { @class="form-control" }})
    @Html.ValidationMessageFor(m => m.Id)
</div>
    <div class="form-group">
    @Html.LabelFor(m => m.Nome)
    @Html.EditorFor(m => m.Nome, new { htmlAttributes = new { @class="form-control" }})
    @Html.ValidationMessageFor(m => m.Nome)
</div>
    <div class="form-group">
    @Html.LabelFor(m => m.Cargo)
    @Html.EditorFor(m => m.Cargo, new { htmlAttributes = new { @class="form-control" }})
    @Html.ValidationMessageFor(m => m.Cargo)
</div>
    <div class="d-flex justify-content-between">
    <button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-secondary">Cancelar</button>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</div>
}
