@model AppExercicio.Models.Funcionario;

@{
    ViewData["Title"] = "Funcionário";
}

<h1 class="mb-4">Cadastro de Funcionário</h1>

@using (Html.BeginForm("Resultado", "Funcionario", FormMethod.Get, new { @style="width: 20rem;" })) {
    <div class="form-group">
        @Html.LabelFor(m => m.Id)
        <input type="number" class="form-control" name="@Html.NameFor(m => m.Id)" required>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        <input type="text" class="form-control" name="@Html.NameFor(m => m.Nome)" required>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cargo)
        <input type="text" class="form-control" name="@Html.NameFor(m => m.Cargo)" required>
    </div>
    <div class="d-flex justify-content-between">
        <button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-secondary">Cancelar</button>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
}
